{% extends 'PrimeNest/base.html' %}

{% block title %}
    Rating List
{% endblock %}

{% block content %}
    <h2>Rating List</h2>
    {% if perms.PrimeNest.add_rating %}
        <div>
            <a href="{% url 'primenest_rating_create_urlpattern' %}" class="button button-primary">
                Create New Rating
            </a>
        </div>
    {% endif %}
    <ul>
        {% for rating in rating_list %}
            <li>
                <a href="{{ rating.get_absolute_url }}">{{ rating }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no ratings available.</em></li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <ul>
            {% if previous_page_url %}
                <li>
                    <a href="{{ previous_page_url }}">Previous</a>
                </li>
            {% endif %}
            <li>
                Page {{ rating_list.number }} of {{ paginator.num_pages }}
            </li>
            {% if next_page_url %}
                <li>
                    <a href="{{ next_page_url }}">Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
