{% extends 'PrimeNest/base.html' %}

{% block title %}
    Delete Tenant
{% endblock %}

{% block content %}
    <form
        action="{{ tenant.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            tenant {{ tenant }}?
        </p>
        <a href="{{ tenant.get_absolute_url }}"
            class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Tenant</button>
    </form>
{% endblock %}
